################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.idea
/bin
/obj
**/postgres_data
**/obj
.ionide/*
.env
*.dll
*.pdb
bin/
obj/